parameters:
# level: 7
  level: max
  paths:
    - src
    - tests
  phpVersion: 80400
  checkMissingCallableSignature: true
  reportUnmatchedIgnoredErrors: true

  excludePaths:
    - %currentWorkingDirectory%/bin*
